<h1><%= "#{@user.name}さんの成果物一覧" %></h1>
<h3>★画像だけを削除したい場合は【編集】からどうぞ★</h3>

  <% @works.each do |work| %>
    <ul>
      <li>
        <%= link_to(work.title, user_work_path(work.user_id, work.id)) %>
        <%= link_to("【編集】", edit_user_work_path(work.user_id, work.id))%>
        <%= link_to("【削除】", "/users/#{work.user_id}/works/#{work.id}/check")%>
      </li>
    </ul>
  <% end %>

<h4><%= link_to("成果物の登録はこちらから対象のMOKUを選択！", user_mokus_path(@user))%></h4>


<%= render 'my_shared/go_mypage' %>
