<div class="container-fluid">
    <h1>成果物の登録</h1>

    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <div class="card text-white bg-info mb-3" id="my-works-card">
          <div class="card-header"><h3>日時</h3></div>
          <div class="card-body">
            <p class="card-text">
              <h3><%= "#{@do_moku.created_at}" %></h3>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 text-center">
        <div class="card text-white bg-info mb-3" id="my-works-card">
          <div class="card-header"><h3>mokuタグ</h3></div>
          <div class="card-body">
            <p class="card-text">
              <h3><%= "#{@moku_type.name}" %></h3>
            </p>
          </div>
        </div>
      </div>
    </div>

    <%= bootstrap_form_with(model: @work,
      url: {controller: :works, action: :create, user_id: @user.id, moku_id: @do_moku.id},
      method: :post,
      local: true) do |form| %>

      <% if @work.errors.any? %>
        <% @work.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      <% end %>

    <%# ここから一覧へ戻るまでの中身と、最下段jQueryをパーシャル化予定%>
    <div class="row">
      <div class="col-12 col-md-7" style="margin:auto;">
        <h3>制作物タイトル</h3>
        <%= form.text_field :title, hide_label: true %>
      </div>

      <div class="col-12 col-md-7" style="margin:auto;">
        <h3>画像やテキストファイル１</h3>
        <%= form.file_field :images, hide_label: true, multipart: true %>
      </div>

      <div class="col-12 col-md-7" style="margin:auto;">
        <h3>コメント</h3>
        <%= form.text_area :comment, hide_label: true %>
      </div>

      <div class="col-12 col-md-7" style="margin:auto;">
        <h3>コメントを公開しますか？<span style="margin-right: 3em;"></span>
          <span class="fa fa-question-circle" aria-hidden="true" data-toggle="popover" title="コメントの公開設定" data-content="<b>【基本】</b><br>
          <ul>
            <li>成果物はPICK UPに乗りますが、コメントだけは非公開になります。</li>
            <li>Pick Up自体が非公開ならば、成果物全体が非公開になるので、コメントも非公開扱いになります。</li>
          </ul>">
          </span>
        </h3>
        <%= form.select :comment_public, options_for_public, selected: @work.comment_public, hide_label: true %>
      </div>

      <div class="col-12 col-md-7" style="margin:auto;">
        <h3>Pick Upへ公開しますか？<span style="margin-right: 4em;"></span>
          <span class="fa fa-question-circle" aria-hidden="true" id="pickUpDescription" data-toggle="popover" title="Pick Upへの公開設定" data-content="<b>【基本】</b><br>
            <ul>
              <li>公開にすると、Pick Upに載る事があります。</li>
              <li>非公開にすると、Pick Upには載りません。</li>
            </ul>
            <b>【ブックマークについて】</b><br>
            <ul>
              <li>成果物が他の方にブックマークされていた場合、非公開にすると相手のブックマークにも表示されなくなります。</li>
              <li>ブックマークが解除されるわけでは無いため、ブックマーク数は減りません。</li>
              <li>再度公開にすると、相手のブックマークに表示されるようになります。</li>
            </ul>">
          </span>
        </h3>
        <p><%= form.select :pickup_public, options_for_public, selected: @work.pickup_public, hide_label: true %></p>
      </div>
    </div>

      <div class="row">
        <div class="col-12 text-center">
          <p><%= form.submit "登録する", class: "btn btn-info btn-lg" %>
        </div>
      </div>
    <% end %>

  <%= link_to user_mokus_path(@user) do %>
    <i class="fas fa-file-alt my-color-mokusIndex text-center fa-4x m-3" aria-hidden="true">
      <h5 class="font-weight-bold text-secondary">moku一覧へ</h5>
    </i>
  <% end %>
  <%= link_to user_works_path(@user) do %>
    <i class="fas fa-crown my-color-work fa-4x m-3 text-center" aria-hidden="true">
      <h5 class="font-weight-bold text-secondary">成果物一覧へ</h5>
    </i>
  <% end %>

  <%= render 'my_shared/go_mypage' %>
</div>

<%= javascript_include_tag "application.js" %>
<script></script>