<div class="container">
  <h1><%= "タイトル：#{@work.title}" %></h1>

    <% if bookmark = BookMark.find_by(user_id: current_user.id, work_id: @work.id )%>
      <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :delete}) do %>
        <i class="fa fa-bookmark fa-3x un-bm-btn" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :post}) do %>
        <i class="fa fa-bookmark fa-3x bm-btn" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <%= @bm_count %>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card text-white bg-info mb-3 work-eq-height">
          <div class="card-header text-center">
            <h5>この制作物が<br/>生まれたmoku</h5>
          </div>
          <div class="card-body text-center">
            <h5>
              <%= "#{@do_moku.created_at}" %>&emsp;
              <%= link_to user_moku_path(@user, @do_moku) do %>
                <i class="fas fa-search my-color-search"></i>
              <% end %>
            </h5>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4">
        <div class="card text-white bg-info mb-3 work-eq-height">
          <div class="card-header text-center">
            <h5>成果物memoの<br/>公開設定</h5>
          </div>
          <div class="card-body text-center">
              <h5><%= public_to_s(@work.memo_public) %></h5>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4">
        <div class="card text-white bg-info mb-3 work-eq-height">
          <div class="card-header text-center">
            <h5>pick upへの<br/>公開設定</h5>
          </div>
          <div class="card-body text-center">
              <h5><%= public_to_s(@work.pickup_public) %></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card text-white bg-info mb-3 ">
          <div class="card-header text-center"><h5>成果物memo</h5></div>
          <div class="card-body bg-white text-dark">
            <% if @work.memo.blank? %>
              <h6>memoはありませんでした。</h6>
            <% else %>
              <%= simple_format(@work.memo) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <h3>画像</h3>
    <% if @work.images.attached? %>
      <% @work.images.each do |image| %>
        <%= image_tag image%>
      <% end %>
    <% else %>
      <h5>画像の登録はありませんでした。よかったらなにか登録してみませんか？</h5>
    <% end %>





        <%= link_to edit_user_work_path(@work.user_id, @work.id) do %>
          <i class="fas fa-edit my-color-edit fa-4x text-center">
            <h5 class="font-weight-bold text-secondary">編集</h5></i>
          </i>
        <% end %>


        <%= link_to "/users/#{@work.user_id}/works/#{@work.id}/check" do %>
          <span data-toggle="popover" data-content="画像の削除は編集からどうぞ！">
            <i class="fas fa-trash-alt my-color-trash fa-4x text-center">
            <h5 class="font-weight-bold text-secondary">削除</h5></i>
          </span>
        <% end %>

  <div class-"row">
        <%= link_to user_works_path(@user) do %>
          <i class="fas fa-crown my-color-work fa-4x text-center">
            <h5 class="font-weight-bold text-secondary">成果物一覧へ</h5>
          </i>
        <% end %>

    <%= render 'my_shared/go_mypage' %>
  </div>
</div>