<div class="container">
    <h1><%= @work.title %></h1>

      <% if bookmark = BookMark.find_by(user_id: current_user.id, work_id: @work.id )%>
        <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :delete}) do %>
          <i class="fa fa-bookmark fa-3x un-bm-btn" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :post}) do %>
          <i class="fa fa-bookmark fa-3x bm-btn" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= @bm_count %>

      <h4> この制作物が生まれたmoku：<%=link_to(@do_moku.created_at, user_moku_path(@user, @do_moku)) %></h4>
      <h3><%= "成果物登録日時：#{@work.created_at}" %></h3>

      <h3>画像</h3>
      <% if @work.images.attached? %>
        <% @work.images.each do |image| %>
          <%= image_tag image%>
        <% end %>
      <% else %>
        <h5>画像の登録はありませんでした。よかったらなにか登録してみませんか？</h5>
      <% end %>


      <h3><%= "制作物のコメント：#{@work.comment}" %></h3>
      <h4>制作物コメントの公開設定：<%= public_to_s(@work.comment_public) %></h4>
      <h4>pick upへの公開設定：<%= public_to_s(@work.pickup_public) %></h4>
      


        <%= link_to edit_user_work_path(@work.user_id, @work.id) do %>
          <i class="fas fa-edit my-color-edit fa-4x text-center">
            <h5 class="font-weight-bold text-secondary">編集</h5></i>
          </i>
        <% end %>


        <%= link_to "/users/#{@work.user_id}/works/#{@work.id}/check" do %>
          <span data-toggle="popover" data-content="画像の削除は編集からどうぞ！">
            <i class="fas fa-trash-alt my-color-trash fa-4x text-center">
            <h5 class="font-weight-bold text-secondary">削除</h5></i>
          </span>
        <% end %>

  <div class-"row">
        <%= link_to user_works_path(@user) do %>
          <i class="fas fa-crown my-color-work fa-4x text-center">
            <h5 class="font-weight-bold text-secondary">成果物一覧へ</h5>
          </i>
        <% end %>

    <%= render 'my_shared/go_mypage' %>
  </div>
</div>