<div class="container">
  <h1>FAQの登録</h1>

  <%= bootstrap_form_with(model: @faq,
                url: {controller: :faqs, action: :create},
                method: :post,
                local: true) do |form| %>

    <div class="row">
      <div class="col-12 col-md-6">
        <p><%= form.text_area :questions, size: "20x8" %></p>
      </div>
      <div class="col-12 col-md-6">
        <p><%= form.text_area :answer, size: "20x8" %></p>
      </div>
    </div>

    <%= form.label :category_list, "タグをカンマ区切りで入力" %>
    <%= text_field_tag 'faq[category_list]', @faq.category_list.join(','), "data-role" => "tagsinput" %>

    <div class="row mb-4">
      <div class="col-12 text-center">
        <%= form.submit "登録する", class: "btn btn-info btn-lg" %>
      </div>
    </div>
  <% end %>

  <%= link_to faqs_path do %>
    <i class="fas fa-question my-color-question fa-3x pl-2 text-center">
      <h5 class="font-weight-bold text-secondary">よくある質問へ</h5>
    </i>
  <% end %>

  <%= render 'my_shared/go_mypage'%>
</div>