<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Q:<%= @faq.questions %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 order-md-1">
      <div class="d-none d-md-block"><%# md以上でカードのカテゴリー%>
        <div class="card text-dark bg-light my-3">
          <div class="card-header text-center font-weight-bold">カテゴリー</div>
          <div class="card-body">
            <p class="card-text">
            <div class="text-dark" id="tag_cloud">
              <% tag_cloud Faq.category_counts, %w{s m l} do |tag, css_class| %>
                  <%= link_to tag.name, tag_path(tag.name), class: css_class %><br />
              <% end %>
            </div>
            </p>
          </div>
        </div>
      </div>
      <div class="d-md-none"><%# md未満でaccordionのカテゴリー %>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          カテゴリー&ensp;<i class="fas fa-caret-down"></i>
        </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body mb-3 border-info">
            <div class="text-dark" id="tag_cloud">
              <% tag_cloud Faq.category_counts, %w{s m l} do |tag, css_class| %>
                  <%= link_to tag.name, tag_path(tag.name), class: css_class %><br />
              <% end %>
            </div><%# /tag_cloud %>
          </div><%# /card card-body%>
        </div><%# /collapse%>
      </div><%# /d-md-none%>
    </div>

    <div class="col-12 col-md-8 order-md-0 mt-3">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5>A:<%= simple_format(@faq.answer) %></h5>
          <small>カテゴリー：<%= raw @faq.category_list.map { |t| link_to t, tag_path(t)}.join(',') %></small><br/>
            <% if current_user %>
              <% user = User.find_by(id: current_user.id) %>
              <% if user.admin? %>
              <hr/>
                <i class="fas fa-unlock-alt my-color-admin">管理者menu：</i>
                <%= link_to("編集", "/faqs/#{@faq.id}/edit") %>
                <%= link_to("削除", "/faqs/#{@faq.id}",  method: :delete, data: {confirm: "削除してよろしいですか？"}) %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row ml-2 my-2">
    <%= render "my_shared/go_mypage" %>

    <span class="d-none d-md-block"><%# md以上で大きめアイコン %>
      <%= link_to faqs_path do %>
        <i class="fas fa-question my-color-question fa-3x m-3 text-center">
          <h5 class="font-weight-bold text-secondary">よくある質問一覧へ</h5>
        </i>
      <% end %>
  </span>
    <span class="d-md-none"><%# md未満で小さめボタン %>
      <button type="button" class="btn btn-light border-info btn-sm ml-1 my-mobile-btn-size">
        <%= link_to faqs_path do %>
          <i class="fas fa-question my-color-question text-center"><br />
            <small class="font-weight-bold text-secondary">よくある質問</small>
          </i>
        <% end %>
      </button>
    </span>
  </div>
</div>