<div class="container">
  <h1>Q:<%= @faq.questions %></h1>

  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h3>A:<%= simple_format(@faq.answer) %></h3>
          <small>カテゴリー：<%= raw @faq.category_list.map { |t| link_to t, tag_path(t)}.join(',') %></small><br/><hr/>
            <% if current_user %>
              <% user = User.find_by(id: current_user.id) %>
              <% if user.admin? %>
                <i class="fas fa-unlock-alt my-color-admin">管理者menu：</i>
                <%= link_to("編集", "/faqs/#{@faq.id}/edit") %>
                <%= link_to("削除", "/faqs/#{@faq.id}", {method: :delete}) %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-body font-weight-bold text-center">
          <h4>カテゴリー</h4>
        </div>
      </div>

      <div class="card bg-light mb-3">
        <div class="card-body">
          <div id="tag_cloud">
            <% tag_cloud Faq.category_counts, %w{s m l} do |tag, css_class| %>
                <%= link_to tag.name, tag_path(tag.name), class: css_class %><br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <%= link_to faqs_path do %>
      <i class="fas fa-question my-color-question fa-4x pl-2 text-center">
        <h5 class="font-weight-bold text-secondary">よくある質問へ</h5>
      </i>
    <% end %>
    <%= render 'my_shared/go_top_or_mypage'%>
  </div>
</div>