<div class="container-fluid">
  <h1>アカウント情報の編集</h1>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%# = render "devise/shared/error_messages", resource: resource %>

  <div class="row mb-3">
    <div class="col-12 col-md-7" style="margin:auto;">
      <div class="field"><%= f.email_field :email, autocomplete: "email" %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="card text-danger border-danger mb-3">
        <div class="card-body">
          <i class="fas fa-exclamation-triangle">&ensp;</i>
          <small>新しいメールアドレス：<%= resource.unconfirmed_email %>の認証がまだです。</small><br />
          <small>新しいアドレスに確認メールをお送りしていますので、ご確認をお願いします。</small>
        </div>
      </div>
    <% end %>
</div>
    <div class="col-12 col-md-7" style="margin:auto;">
      <div class="field">
        新しいパスワード<br />
          <small>※パスワードを変更しない場合は空白のままにしてください。</small><br/>
          <% if @minimum_password_length %>
            <small>※変更する場合は<%= @minimum_password_length %>文字以上にしてください。</small>
          <% end %>
        <%= f.password_field :password, autocomplete: "new-password", hide_label: true %>
      </div>
    </div>

    <div class="col-12 col-md-7" style="margin:auto;">
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="col-12 col-md-7 mb-5" style="margin:auto;">
      

    </div>

    <div class="col-12 col-md-7" style="margin:auto;">
      <div class="field">
        <h3>最終確認です</h3>
        <%= f.label :"変更前のパスワードを入力してください。" %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", hide_label: true %>
      </div>
    </div>

    <div class="col-12 text-center">
      <div class="actions">
        <%= f.submit "変更する", class: "btn btn-info btn-lg" %>
      </div>
    </div>
  </div>
  <% end %>



  <div class="row mb-3">
    <div class="col-6 text-center">
      <%= render 'my_shared/go_mypage' %>
    </div>
  </div>
</div>