<h1>FAQの登録</h1>

<%= bootstrap_form_with(model: @faq,
              url: {controller: :faqs, action: :create},
              method: :post,
              local: true) do |form| %>

  <% if @faq.errors.any? %>
    <% @faq.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  <% end %><br>

  <%= form.label :Q %>
  <p><%= form.text_area :questions %></p>

  <%= form.label :A %>
  <p><%= form.text_area :answer %></p>

  <%= form.label :category_list, "タグをカンマ区切りで入力" %>
  <%= text_field_tag 'faq[category_list]', @faq.category_list.join(','), "data-role" => "tagsinput" %>

  <p><%= form.submit "登録する" %></p>
<% end %>

<%= link_to("よくある質問一覧に戻る", faqs_path) %>

<%= render 'my_shared/go_mypage'%>
