<h3>カテゴリー</h3>
<%= raw @faq.category_list.map { |t| link_to t, tag_path(t)}.join(',') %>

<h1><%= simple_format(@faq.questions) %></h1>
<h3><%= simple_format(@faq.answer) %></h3>

<% if current_user %>
  <% user = User.find_by(id: current_user.id) %>
  <% if user.admin? %>
    <%= link_to("編集", "/faqs/#{@faq.id}/edit") %>
    <%= link_to("削除", "/faqs/#{@faq.id}", {method: :delete}) %>
  <% end %>
<% end %>

<p><%= link_to("よくある質問一覧に戻る", faqs_path)%></p>


<%= render 'my_shared/go_top_or_mypage'%>
