<div class="container">
  <h1>
    <%= "#{@user.name}さんの"%><br class="d-inline d-sm-none"/><%= "moku一覧" %>
  </h1>

  <% if true %>
    <%= bootstrap_form_with(model: @do_moku,
                            url: {controller: :mokus, action: :index, user_id: current_user.id, moku_type: @user.moku_types.ids},
                            method: :get,
                            local: true) do |form| %>
      <h4 class="text-secondary">mokuタグで絞り込み</h4>
        <div class="row mb-3">
          <div class="col-8 text-center">
            <%= form.collection_select :moku_type, @user.active_moku_types, :id, :name, {hide_label: true, selected: @user.moku_types}, {:class => "form-control form-control-lg"}%>
          </div>
          <div class="col-4 text-left">
            <%= form.submit "絞り込む", class: "btn btn-info btn-lg" %>
          </div>
        </div>
    <% end %>
  <% end %>

  <%
=begin%> カレンダー同様、合計がうまく行かない件。。
 <% @moku_time_sum = 0 %>
  <% @do_mokus.each do |do_moku| %>
    <% @moku_time_sum =+ do_moku.moku_time %>
  <% end %>
  <%= "moku TIME合計:#{distance_of_time_in_words(@moku_time_sum)}" %> 
<%
=end%>

  <table class="table table-hover text-center">
    <thead>
      <tr class="table-info">
        <th scope="col" class="align-middle">日時</th>
        <th scope="col" class="align-middle">moku TIME</th>
        <th scope="col" class="align-middle">moku<br class="d-inline d-sm-none" />タグ</th>
        <th scope="col" class="align-middle">moku詳細へ</th>
        <th scope="col" class="align-middle">成果物登録</th>
        <th scope="col" class="align-middle">moku削除</th>
      </tr>
    </thead>
    <tbody>
      <% @do_mokus.each do |do_moku| %>
        <tr>
          <th scope="row"><%# 日時 %>
            <%= "#{do_moku.created_at} " %>
          </th>
          <td><%# moku TIME %>
            <%= "#{distance_of_time_in_words(do_moku.moku_time)} " %>
          </td>
          <td><%# mokuタグ名 %>
            <% moku_type = MokuType.find(do_moku.moku_type_id) %>
            <%= "#{moku_type.name}" %>
          </td>
          <td><%# moku詳細 %>
            <%= link_to user_moku_path(do_moku.user_id, do_moku.id) do %>
              <i class="fas fa-search my-color-search fa-2x"></i>
            <% end %>
          </td>
          <td><%# 成果物登録 %>
            <%= link_to "/users/#{do_moku.user_id}/mokus/#{do_moku.id}/works/new" do %>
              <span class="fa-stack">
                <i class="fas fa-crown my-color-work fa-stack-2x" aria-hidden="true"></i>
                <i class="fas fa-pencil-alt fa-stack-1x"></i>
              </span>
            <% end %>
          </td>
          <td><%# moku削除 %>
            <%= link_to "/users/#{do_moku.user_id}/mokus/#{do_moku.id}/check" do %>
              <i class="fas fa-trash-alt my-color-trash fa-2x"></i>
            <% end %>
            </td>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>


  <%= render 'my_shared/go_mypage' %>
</div>