<div class="container">
  <h1><%= "#{@do_moku.created_at}にmokuった内容"%></h1>

  <div class="row mb-2">
    <div class="col-12 col-md-6 mb-2">
      <div class="row">
        <div class="col-12 mb-2">
          <div class="card text-white bg-info mb-3" style="min-width: 20rem;">
            <div class="card-header  text-center">mokuの日時</div>
            <div class="card-body text-dark bg-white text-center">
              <%= @do_moku.created_at %> 〜 <%= @do_moku.updated_at %>
            </div>
          </div>
        </div>

        <div class="col-12 mb-2">
          <div class="card text-white bg-info mb-3">
            <div class="card-header text-center">moku TIME</div>
            <div class="card-body text-dark bg-white text-center">
              <%= "#{distance_of_time_in_words(@do_moku.moku_time)}" %>
            </div>
          </div>
        </div>

        <div class="col-12 mb-2">
          <div class="card text-white bg-info mb-3">
            <div class="card-header text-center">mokuタグ</div>
            <div class="card-body text-dark bg-white text-center">
              <%= @moku_type.name%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <div class="card text-white bg-info mb-3">
        <div class="card-header text-center">memo</div>
        <div class="card-body text-dark bg-white">
          <% if @do_moku.memo.blank? %>
            <h6>memoはまだ登録されていませんでした</h6>
          <% else %>
            <%= simple_format(@do_moku.memo) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 text-center">
      <%= link_to edit_user_moku_path(@user, @do_moku.id) do %>
        <button type="button" class="btn btn-info btn-lg">編集</button>
      <% end %>
    </div>
  </div>


  <h2 class="text-center font-weight-bold"><%= "この時の成果物" %></h2>
  <div class="row">
    <div class="col-12 mb-4">
      <table class="table table-hover text-center">
        <thead>
          <tr class="table-info text-center">
            <th scope="col">成果物のタイトル</th>
            <th scope="col">詳細</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
          </tr>
        </thead>

        <tbody>
          <% @works.each do |work| %>
            <tr>
              <th scope="row"><%# タイトル %>
                <%= work.title %>
              </th>
              <td><%# 詳細 %>
                <%= link_to user_work_path(work.user_id, work.id) do %>
                  <i class="fas fa-search my-color-search fa-2x"></i>
                <% end %>
              </td>
              <td><%# 編集　%>
                <%= link_to edit_user_work_path(work.user_id, work.id) do %>
                  <i class="fas fa-edit my-color-edit fa-2x"></i>
                <% end %>
              </td>
              <td><%# 削除 %>
                <%= link_to "/users/#{work.user_id}/works/#{work.id}/check" do %>
                  <span data-toggle="popover" data-content="画像の削除は編集からどうぞ！">
                    <i class="fas fa-trash-alt my-color-trash fa-2x"></i>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <hr/>
  <%= link_to user_mokus_path(@user) do %>
    <i class="fas fa-file-alt my-color-mokusIndex fa-4x m-3 text-center">
      <h5 class="font-weight-bold text-secondary">moku一覧へ</h5>
    </i>
  <% end %>

  <%= render "my_shared/go_mypage" %>
</div>