<div class="container">

  <h1>mokuの削除</h1>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card text-white bg-info mb-3">
        <div class="card-header text-center"><h2><%= "#{@user.name}"%>さん、ご確認ください</h2></div>
        <div class="card-body">
            <ul>
              <li>mokuを削除すると、このmokuの【成果物】も全て消えてしまいます。</li>
              <li>Book Markされていた成果物の場合、Book Markからも消えてしまいます。</li>
              <li>一度削除すると、復活することはできません。</li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row-12 mb-3 text-center">
    思い残しはありませんか？<br>
    <% if @works.any? %>
      このmokuの成果物がないか調べて<br class="d-inline d-sm-none" />以下に結果をお出ししました。<br/>
      確認してみてください。<br/>
    <% end %>
    問題無いようでしたら削除ボタンをクリックしてください。
  </div>

   <%= form_with(model: @do_moku,
                url: {controller: :mokus, action: :delete, user_id: current_user.id, moku_id:@do_moku.id},
                method: :patch,
                local: true) do |f| %>
    <div class="row mb-4">
      <div class="col-12 text-center">
        <%= f.submit "mokuを削除する", class: "btn btn-info btn-warning btn-lg" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-md-9 text-center" style="margin: auto;">
    <% if @works.any? %>
      <h3 class="text-center">このmokuの成果物</h3>
        <table class="table table-hover">
          <thead>
            <tr class="table-info text-center">
              <th scope="col">タイトル</th>
              <th scope="col">作成日</th>
              <th scope="col">詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @works.each do |work| %>
              <tr>
                <th scope="row"><%# タイトル%>
                  <%= "#{work.title}" %>
                </th>
                <td><%# 日付 %>
                  <%= "#{work.created_at}" %>
                </td>
                <td><%# 詳細 %>
                  <%= link_to user_work_path(work.user_id, work.id) do %>
                    <i class="fas fa-search my-color-search fa-2x"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>


  <div class="row ml-2 my-2">
    <%= render "my_shared/go_mypage" %>

    <span class="d-none d-md-block"><%# md以上で大きめアイコン %>
      <%= link_to user_mokus_path(@user) do %>
        <i class="fas fa-file-alt my-color-mokusIndex fa-4x m-3 text-center">
          <h5 class="font-weight-bold text-secondary">moku一覧へ</h5>
        </i>
      <% end %>
    </span>
    <span class="d-md-none"><%# md未満で小さめボタン %>
      <button type="button" class="btn btn-light border-info btn-sm ml-1 my-mobile-btn-size">
        <%= link_to user_mokus_path(@user) do %>
          <i class="fas fa-file-alt my-color-mokusIndex text-center"><br />
            <small class="font-weight-bold text-secondary">moku<br />一覧</small>
          </i>
        <% end %>
      </button>
    </span>
  </div>
</div>