<body>
  <main>
    <div class="container">
      <h1 id="defaultTitle">
        <span class="fas fa-cloud my-color-moku fa-3x fa-fw faa-bounce animated-hover" aria-hidden="true">
        </span>
        mokuる
      </h1>

      <div class="card text-white bg-info mb-3" id="afterStartTitle" style="display:none;">
        <div class="card-body text-center">
          <h3>ただいまmokuっています！</h3>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12 col-md-6 pb-4">
          <section>
            <div id="clockImage">
              <img src="/assets/dial.png" class="clock"><!--文字盤-->
              <img src="/assets/hour.png" id="hour" class="clock"><!--短針-->
              <img src="/assets/minute.png" id="minute" class="clock"><!--長針-->
              <img src="/assets/second.png" id="second" class="clock"><!--秒針-->
            </div>
          </section>
        </div>
        <div class="col-12 col-md-6 pb-4">
          <section>
            <div class="card text-white bg-info hidden-xs" id='mjn' style="display:none;">
              <h3><div class="card-header text-center">moku JUST NOW</div></h3>
              <div class="card-body text-white">
                <ul id="justNowUl">
                  <% @default_mjns.each do |mjn| %>
                    <li><%= mjn.format_created_at %><%= mjn.user.name %>さんがmokuを開始しました！</li>
                  <% end %>
                </ul>
                  <%= javascript_include_tag "application" %>
                  <script></script>
              </div>
            </div>
          </section>
        </div>
      </div>

      <%= bootstrap_form_with(model: @do_moku,
                    url: {controller: :mokus, action: :create, user_id: current_user.id},
                    method: :post,
                    local: true) do |form| %>

        <div class="row">
          <div class="col-12 col-md-6 pb-4" id="selectMokuType">
            <section>
              <div class="card text-white bg-info moku-eq-height">
                <div class="card-body text-center pb-0">
                  <h3>mokuタグを<br>選ぼう！</h3>
                </div>
                <div class="form-group m-3" name="moku_type" id="selectMokuType">
                  <%= form.collection_select :moku_type, @user.active_moku_types, :id, :name, {hide_label: true}, {:class => "form-control form-control-lg"}%>
                </div>
              </div>
            </section>
          </div>

          <div class="col-12 col-md-6 pb-4" id="userPublic">
            <section>
              <div class="card text-white bg-info mb-3 moku-eq-height">
                <div class="card-body text-center">
                  <h3>moku JUST NOW</h3>
                    <% if @user.public %>
                      <div class="card bg-white text-dark mt-4">
                        <div class="card-body text-center">
                          <h4><%="載ります"%></h4>
                          <%= "アカウント：#{public_to_s(@user.public)}"%>&ensp;<i class="fas fa-user"></i>
                        </div>
                      </div>
                    <% else %>
                      <div class="card bg-white text-dark mt-4">
                        <div class="card-body text-center">
                          <h4><%= "載りません"%></h4>
                          <%= "アカウント：#{public_to_s(@user.public)}" %>&ensp;<i class="fas fa-user-slash"></i>
                        </div>
                      </div>
                    <% end %>
                </div>
              </div>
            </section>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-12 col-md-6 pb-4" id="startButton" style="margin: auto;">
            <section>
              <div class="card text-white bg-info mb-3 moku-eq-height">
                <div class="card-body text-center">
                  <h3>準備はOK？<br>さあmokuろう！</h3>
                </div>
                <p  class="pagination justify-content-center pb-3">
                  <button type="button" class="btn btn-light btn-lg" id="startButton">moku開始！</button>
                </p>
              </div>
            </section>
          </div>
      </div>

      <div class="row">
        <input type="hidden" id="startedMokuId"/>
        <div class="col-12 col-md-6 order-md-3">
          <div class="card text-white bg-info mb-3" id="displayMokuTime">
            <div class="card-header text-center"><h3>moku Time</h3></div>
            <div class="card-body">
              <h3 class="card-text text-center" id="timer">00:00:00</h3>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-3 mb-5 order-md-1 text-center" style="margin: auto;">
          <input class="btn btn-info btn-lg" type="submit" id="pauseButton" value="一時停止！"/>
        </div>

        <div class="col-6 col-md-3 mb-5 order-md-2 text-center" style="margin: auto;">
          <%= bootstrap_form_with(url: 'dummy', method: :patch, local: true, id: 'finishForm') do |form| %>
            <input type="hidden" name="moku_time" id="mokuTime" value=""/>
            <input class="btn btn-info btn-lg" type="submit" id="stopButton" value="moku終了！"/>
          <% end %>
        </div>
      </div>

      <div class="row ml-2 my-2" id="linkToMypage">
        <%= render 'my_shared/go_mypage'%>
      </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>

<script>
    //ブラウザバック・リロード時に確認メッセージを出すためのフラグ
    let nowStarted = false;

    // ストップウォッチ系
    let timeCounter = 0;
    let timer = null;
    let startTime = null;
    let endTime = null;

    // 時計表示系
    let time;
    let hour = document.getElementById("hour");
    let minute = document.getElementById("minute");
    let second = document.getElementById("second");

    // 時計の表示
    function startClock() {
      time = new Date();

      hour.style.transform = "rotate("+(time.getHours()*30+time.getMinutes()*0.5)+"deg)";
      minute.style.transform = "rotate("+(time.getMinutes()*6)+"deg)";
      second.style.transform = "rotate("+(time.getSeconds()*6)+"deg)";

      setTimeout(startClock, 1000-time.getMilliseconds());
    }

    function displayTimer() {
        timeCounter = ++timeCounter
        let duration = moment.duration(timeCounter, 'seconds')
            formatDuration = moment.utc(duration.as('milliseconds')).format('HH:mm:ss')
            $("#timer").text(formatDuration)
            $('#mokuTime').val(timeCounter)
    }

    $(document).ready(function () {
        $(window).on('beforeunload', function () {
            if (nowStarted) {
                return "mokuの途中ですがこの画面から離れますか？"
            }
        })
        startClock();

        $('#startButton').on('click', function () {
            nowStarted = true
            $.ajax({
                url: '/ajax/mokus/create',
                method: 'post',
                data: {
                    user_id: <%= current_user.id %>,
                    moku_type_id: $('#moku_type').val(),
                }
            }).done(function (json) {
                const moku = json
                const mokuId = moku.id
                $('#startedMokuId').val(mokuId)

                const url = '/mokus/' + mokuId + '/finish'
                $('#finishForm').attr('action', url)
                $('#clockImage').fadeIn(1000)
                // $('#afterStartTitle, #stopButton, #pauseButton, #mjn, #displayMokuTime').show()
                $('#afterStartTitle, #mjn, #displayMokuTime').show()
                $('#stopButton, #pauseButton').slideDown(1000)
                $('#greet, #defaultTitle, #startButton, #moku_type, #selectMokuType, #userPublic, #linkToMypage, #linkToAaacount, #linkToSetting, #linkToLogout, #linkToTaq, #linkToTAbout').hide() //開始後のデフォタイトルやタートボタンなどを非表示

                // moku開始時のタイマーの作業
                timer = setInterval(displayTimer, 1000)
                  if (startTime == null) {
                  startTime = new Date()
                  $('#startTimeInput').val(startTime)
                }
               })
               })

                // moku終了時のタイマーの作業
                $('#stopButton').on('click', function () {
                  endTime = new Date()
                  $('#endTimeInput').val(endTime)
                  nowStarted = false;
                  clearInterval(timer)
                  timeCounter = 0
                })

                //ここから一時停止のタイマーの作業
                $('#pauseButton').on('click', function () {
                  if (nowStarted) {
                    clearInterval(timer);
                    $('#pauseButton').val('再開！');
                    nowStarted = false;
                  } else {
                    $('#pauseButton').val('一時停止！');
                    nowStarted = true;
                    timer = setInterval(displayTimer, 1000);
                  };
                })
            })
      </script>
    </div>
  </main>
</body>