<div class="container">
  <h1><%= "#{@do_moku.created_at}" %>に<br class="d-inline d-sm-none" />mokuった内容</h1>

  <div class="row mb-2">
    <div class="col-12 col-md-6 mb-2">
      <div class="row">
        <div class="col-12 mb-4">
          <h4 class="bg-info text-white text-center rounded-top py-2 mb-0" style="min-width: 20rem;">mokuの日時</h4>
          <% if @do_moku.finished_at.blank? %>
            <h6 class="bg-white text-secondary text-center rounded-bottom p-3 border border-info" style="min-width: 20rem;"><%= @do_moku.started_at %> 〜 ?????<br /> まだmokuっている途中か、正常に終了しなかったようです。<br />※mokuの日時は編集できません。</h6>
          <% else %>
            <h6 class="bg-white text-secondary text-center rounded-bottom p-3 border border-info" style="min-width: 20rem;"><%= @do_moku.started_at %> 〜 <%= @do_moku.finished_at %></h6>
          <% end %>
        </div>

        <div class="col-12 mb-4">
          <h4 class="bg-info text-white text-center rounded-top py-2 mb-0" style="min-width: 20rem;">moku TIME</h4>
          <h6 class="bg-white text-secondary text-center rounded-bottom p-3 border border-info" style="min-width: 20rem;"><%= "#{distance_of_time_in_words(@do_moku.moku_time)}" %></h6>
        </div>

        <div class="col-12 mb-4">
          <h4 class="bg-info text-white text-center rounded-top py-2 mb-0" style="min-width: 20rem;">mokuタグ</h4>
          <h6 class="bg-white text-secondary text-center rounded-bottom p-3 border border-info" style="min-width: 20rem;"><%= @moku_type.name%></h6>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
      <h4 class="bg-info text-white text-center rounded-top py-2 mb-0" style="min-width: 20rem;">memo</h4>
      <h6 class="bg-white text-secondary  p-3 border rounded-bottom border-info" style="min-width: 20rem;">
        <% if @do_moku.memo.blank? %>
          memoはまだ登録されていませんでした
        <% else %>
          <%= simple_format(@do_moku.memo) %>
        <% end %>
      </h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 text-center">
      <%= link_to edit_user_moku_path(@user, @do_moku.id) do %>
        <button type="button" class="btn btn-info btn-lg">編集</button>
      <% end %>
    </div>
  </div>

<hr />
  <h2 class="text-center font-weight-bold my-3 py-2">このmokuの成果物</h2>
  <div class="row">
    <div class="col-12 col-md-7 mb-4 text-center mx-auto">
    <% if @works.blank?%>
      <div class="card border-info">
        <div class="card-body">
        <h5 class="text-center">成果物の登録はありませんでした。<br />何か登録してみませんか？<br class="d-inline d-sm-none" /></h5>
          <%= link_to "/users/#{@do_moku.user_id}/mokus/#{@do_moku.id}/works/new" do %>
            <button type="button" class="btn btn-info">成果物登録</button>
          <% end %>
        </div>
      </div>
    <% else %>
      <table class="table table-hover text-center">
        <thead>
          <tr class="table-info text-center">
            <th scope="col">成果物のタイトル</th>
            <th scope="col">詳細</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @works.each do |work| %>
            <tr>
              <th scope="row"><%# タイトル %>
                <%= work.title %>
              </th>
              <td><%# 詳細 %>
                <%= link_to user_work_path(work.user_id, work.id) do %>
                  <i class="fas fa-search my-color-search fa-2x"></i>
                <% end %>
              </td>
              <td><%# 編集　%>
                <%= link_to edit_user_work_path(work.user_id, work.id) do %>
                  <i class="fas fa-edit my-color-edit fa-2x"></i>
                <% end %>
              </td>
              <td><%# 削除 %>
                <%= link_to "/users/#{work.user_id}/works/#{work.id}/check" do %>
                  <span data-toggle="popover" data-content="画像の削除は編集からどうぞ！">
                    <i class="fas fa-trash-alt my-color-trash fa-2x"></i>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <%= render "my_shared/go_mypage" %>

  <%= link_to user_mokus_path(@user) do %>
    <i class="fas fa-file-alt my-color-mokusIndex fa-4x m-3 text-center">
      <h5 class="font-weight-bold text-secondary">moku一覧へ</h5>
    </i>
  <% end %>
</div>