<div class="container">
  <h1>成果物の編集</h1>

  <%= bootstrap_form_with(model: @work,
  url: {controller: :works, action: :update, user_id: @user.id, id: @work.id},
  method: :patch,
  local: true) do |f| %>

        <% if  @work.errors.any? %>
          <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div class="toast" style="position: absolute; top: 0x; left: 0px;">
              <div class="toast-header">
              <img class="rounded mr-2" src="/assets/moku_logo3.png" width="25" height="20" alt="mokuのロゴ">
                <strong class="mr-auto">moku</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                <% @work.errors.full_messages.each do |message| %>
                  <div class="text-danger font-weight-bold"><%= message %></div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

    <div class="row mb-5">
      <% @work.images.each do |image| %>
        <div class="col-12 col-md-6 text-center" style="margin: auto;">
          <div class="card border-info mb-3" id="myWorksEditCard">
            <div class="card-body">
              <%= image_tag image.variant(resize: '150x') %>&emsp;
              <%= link_to "/works/#{@work.id}/images/#{image.id}", method: :delete, data: {confirm: "削除してよろしいですか？"} do %>
                <i class="fas fa-trash-alt my-color-trash fa-2x"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-12 col-md-10" style="margin:auto;">
        <h3>制作物タイトル</h3>
        <%= f.text_field :title, hide_label: true %>
      </div>

      <div class="col-12 col-md-10" style="margin:auto;">
        <h3>画像の追加</h3>
        <%= f.file_field :images, multipart: true, hide_label: true %>
      </div>

      <div class="col-12 col-md-10" style="margin:auto;">
        <h3>memo</h3>
        <%= f.text_area :memo, hide_label: true, size: "20x8" %>
      </div>

      <div class="col-12 col-md-10" style="margin:auto;">
        <h3>成果物の公開設定<span style="margin-right: 7em;"></span>
          <span class="fa fa-question-circle" aria-hidden="true" id="pickUpDescription" data-toggle="popover" title="Pick Upへの公開設定" data-content="<b>【基本】</b><br>
          <ul>
            <li>公開にすると、Pick Upに載る事があります。</li>
            <li>非公開にすると、Pick Upには載りません。</li>
            <li><u>アカウント自体非公開だと、公開にしても非公開となります。</u></li>
          </ul>
          <b>【ブックマークについて】</b><br>
          <ul>
            <li>成果物が他の方にブックマークされていた場合、非公開にすると相手のブックマークにも表示されなくなります。</li>
            <li>ブックマークが解除されるわけでは無いため、ブックマーク数は減りません。</li>
            <li>再度公開にすると、相手のブックマークに表示されるようになります。</li>
          </ul>">
          </span>
        </h3>
        <p><%= f.select :pickup_public, options_for_public, selected: @work.pickup_public, hide_label: true %></p>
      </div>

      <div class="col-12 col-md-10" style="margin:auto;">
        <h3>コメントを公開しますか？<span style="margin-right: 3em;"></span>
          <span class="fa fa-question-circle" aria-hidden="true" data-toggle="popover" title="コメントの公開設定" data-content="<b>【基本】</b><br>
          <ul>
            <li>成果物は公開したいけれど、コメントの中身は非公開にしたい場合は【非公開】にしてください。</li>
            <li>Pick Up自体が非公開ならば、成果物全体が非公開になるので、コメントも非公開扱いになります。</li>
            <li><u>アカウント自体非公開だと、公開にしても非公開となります。</u></li>
          </ul>">
          </span>
        </h3>
        <%= f.select :memo_public, options_for_public, selected: @work.memo_public, hide_label: true %>
      </div>
    </div>

    <p class="text-center"><%= f.submit "登録する", class: "btn btn-info btn-lg"%>
  <% end %>

    <%= link_to user_works_path(@user) do %>
      <i class="fas fa-crown my-color-work fa-4x m-3 text-center" aria-hidden="true">
        <h5 class="font-weight-bold text-secondary">成果物一覧へ</h5>
      </i>
    <% end %>

  <%= render 'my_shared/go_mypage' %>
</div>