<div class="container">
  <% if @work.pickup_public %>
    <div class="row">
      <div class="col-12">
        <h1 class="pb-1"><%= "タイトル：#{@work.title}" %></h1>
      </div>
      <div class="col-12 text-right pb-3">
        <% if bookmark = BookMark.find_by(user_id: current_user.id, work_id: @work.id )%>
          <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :delete}) do %>
            <i class="fas fa-bookmark fa-3x un-bm-btn" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :post}) do %>
            <i class="fas fa-bookmark fa-3x bm-btn" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <%= @bm_count %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card text-white bg-info mb-3">
          <div class="card-header text-center">
            <h5>この成果物の作者さん</h5>
          </div>
          <div class="card-body text-center">
            <% work_owner_user = User.find(@work.user_id)%>
            <h5><%= "#{work_owner_user.name}さん" %>&emsp;
              <%= link_to "/mypage/#{work_owner_user.id}" do %>
                <i class="fas fa-search my-color-search"></i>
              <% end %>
            </h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card text-white bg-info mb-3">
          <div class="card-header text-center">
            <h5>成果物登録日時</h5>
          </div>
          <div class="card-body text-center">
              <h5><%= @work.created_at %></h5>
          </div>
        </div>
      </div>
    </div>

    <% if @work.memo_public == true %>
        <div class="row mb-3">
          <div class="col-12">
            <h4 class="bg-info text-white text-center rounded-top py-4 mb-0" style="min-width: 20rem;">memo</h4>
              <h6 class="bg-white text-secondary rounded-bottom p-3 border border-info" style="min-width: 20rem;">
                <% if @work.memo.blank? %>
                  memoはありませんでした。
                <% else %>
                  <%= simple_format(@work.memo) %>
                <% end %>
              </h6>
          </div>
        </div>
    <% else %>
      <div class="row mb-3">
        <div class="col-12 text-center">
          <h4 class="bg-info text-white text-center rounded-top py-4 mb-0" style="min-width: 20rem;">memo</h4>
            <h6 class="bg-white text-secondary rounded-bottom p-3 border border-info" style="min-width: 20rem;">
              memoは非公開です
            </h6>
        </div>
      </div>
    <% end %>

    <h2 class="text-center">画像</h2>
    <div class="row">
      <div class="col-12 col-md-6 mb-4 text-center">
        <% if @work.image.attached? %>
          <%= image_tag @work.image.variant(resize: '300x') %>
        <% else %>
          <h5>画像の登録はありませんでした。</h5>
        <% end %>
      </div>
    </div>
  <% else %>
    <h1>非公開です</h1>
  <% end %>

  <div class="row ml-2 my-2">
    <%= render 'my_shared/go_mypage' %>
  </div>
</div>