<div class="container">

  <div class="row">
    <div class="col-12">
      <h1 class="pb-1"><%= "タイトル：#{@work.title}" %></h1>
    </div>
    <div class="col-12 text-right pb-3">
      <% if bookmark = BookMark.find_by(user_id: current_user.id, work_id: @work.id )%>
        <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :delete}) do %>
          <i class="fas fa-bookmark fa-3x un-bm-btn" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :post}) do %>
          <i class="fas fa-bookmark fa-3x bm-btn" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= @bm_count %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card text-white bg-info mb-3 work-eq-height">
        <div class="card-header text-center">
          <h5>この制作物が<br/>生まれたmoku</h5>
        </div>
        <div class="card-body text-center">
          <h5>
            <%= "#{@do_moku.created_at}" %>&emsp;
            <%= link_to user_moku_path(@user, @do_moku) do %>
              <i class="fas fa-search my-color-search"></i>
            <% end %>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="card mb-3 work-eq-height">
        <div class="card-header text-center bg-info text-white ">
          <h5>memoの<br/>公開設定</h5>
        </div>
        <% if @work.memo_public == Constants::PUBLIC %>
          <div class="card-body text-center bg-info text-white">
              <h5><%= public_to_s(@work.memo_public) %></h5>
          </div>
        <% else %>
          <div class="card-body text-center bg-light text-dark">
              <h5><%= public_to_s(@work.memo_public) %></h5>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="card mb-3 work-eq-height">
        <div class="card-header text-center bg-info text-white">
          <h5>pick upの<br/>公開設定</h5>
        </div>
        <% if @work.pickup_public == Constants::PUBLIC %>
          <div class="card-body text-center bg-info text-white">
              <h5><%= public_to_s(@work.pickup_public) %></h5>
          </div>
        <% else %>
          <div class="card-body text-center bg-light text-dark">
              <h5><%= public_to_s(@work.pickup_public) %></h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <h4 class="bg-info text-white text-center rounded-top py-4 mb-0" style="min-width: 20rem;">memo</h4>
      <h6 class="bg-white text-secondary rounded-bottom p-3 border border-info" style="min-width: 20rem;">
        <% if @work.memo.blank? %>
          memoはありませんでした。
        <% else %>
          <%= simple_format(@work.memo) %>
        <% end %>
      </h6>
    </div>
  </div>

  <h2 class="text-center">画像</h2>
  <div class="row">
    <% if @work.images.attached? %>
      <% @work.images.each do |image| %>
        <div class="col-12 col-md-6 mb-4 text-center">
          <%= image_tag image.variant(resize: '300x') %>
        </div>
      <% end %>
    <% else %>
      <h5>画像の登録はありませんでした。なにか登録してみませんか？</h5>
    <% end %>
  </div>

  <div class="row justify-content-end">
    <div clas="col-12">
      <%= link_to edit_user_work_path(@work.user_id, @work.id) do %>
        <i class="fas fa-edit my-color-edit fa-3x text-center mr-5">
          <h5 class="font-weight-bold text-secondary">編集</h5></i>
        </div>
      <% end %>

      <%= link_to "/users/#{@work.user_id}/works/#{@work.id}/check" do %>
        <span data-toggle="popover" data-content="画像の削除は編集からどうぞ！">
          <i class="fas fa-trash-alt my-color-trash fa-3x text-center mr-2">
          <h5 class="font-weight-bold text-secondary">削除</h5></i>
        </span>
      <% end %>
    </div>


    <div class="row">
      <div class="col-12">
        <%= link_to user_works_path(@user) do %>
          <i class="fas fa-crown my-color-work fa-3x text-center">
            <h5 class="font-weight-bold text-secondary">成果物一覧へ</h5>
          </i>
        <% end %>

        <%= render 'my_shared/go_mypage' %>
      </div>
    </div>
  </div>
</div>