<div class="container">

  <h1>mokuタグの削除</h1>

  <div class="row mb-3">
    <div class="col-12">
      <div class="card text-white bg-info mb-3">
        <div class="card-header text-center"><h2><%= "#{@user.name}"%>さん、ご確認ください</h2></div>
        <div class="card-body">
          <h5>
            <ul>
              <li>mokuタグは、mokuの管理に使われています。</li>
              <li>この<%= "【#{@moku_type.name}】" %>が削除されると、<%= "【#{@moku_type.name}】" %>がつけられていたmokuには、自動的に<%= "【#{Constants::DEFAULT_MOKU_TYPE_NAME}】"%>がつきます。</li>
            </ul>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mb-4">
      <h5>本当にこのmokuタグを削除してよろしければ、<br/>削除ボタンをクリックしてください。</h3>
    </div>
  </div>

    <%= bootstrap_form_with(model: @moku_type,
                  url: {controller: :moku_type, action: :delete, user_id: current_user.id, moku_type_id:@moku_type.id},
                  method: :patch,
                  local: true) do |f| %>
    <div class="row mb-5">
      <div class="col-12 text-center">
        <%= f.submit "mokuタグを削除する", class: "btn btn-info btn-warning btn-lg" %>
      </div>
    </div>
    <% end %>
  </div>

  <% if @do_mokus.any? %>
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2 class="font-weight-bold">このmokuタグのmoku一覧</h2>
    </div>
    <div class="col-8" style="margin: auto;">
      <table class="table table-hover text-center">
        <thead>
          <tr class="table-info">
            <th scope="col">日付</th>
            <th scope="col">moku詳細へ</th>
          </tr>
        </thead>
        <tbody>
          <% @do_mokus.each do |do_moku| %>
            <tr>
              <th scope="row">
                <%= "#{do_moku.created_at}"%>
              </th>
              <td>
              <%= link_to "/users/#{do_moku.user_id}/mokus/#{do_moku.id}" do %>
                <i class="fas fa-search my-color-search fa-2x"></i>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @do_mokus, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </div>
  </div>
  <% end %>

  <div class="row ml-2 my-2">
    <%= render 'my_shared/go_mypage' %>
  </div>
</div>