<div class="container-fluid">
  <% if  @moku_type.errors.any? %>
    <div aria-live="polite" aria-atomic="true" style="position: relative;">
      <div class="toast" style="position: absolute; top: 10px; left: 20px;">
        <div class="toast-header">
        <img class="rounded mr-2" src="/assets/moku_logo3.png" width="25" height="20" alt="mokuのロゴ">
          <strong class="mr-auto">moku</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <% @moku_type.errors.full_messages.each do |message| %>
            <div class="text-danger font-weight-bold"><%= message %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <h1  class="font-weight-bold text-center mb-4">mokuタグの編集</h1>

  <%= bootstrap_form_with(model: @moku_type,
  url: {controller: :moku_type, action: :update, user_id: current_user.id, id: @moku_type},
  method: :patch,
  local: true) do |f| %>

    <div class="row">
      <div class="col-12 col-md-6 mb-4">
      <%= "mokuタグの新しい名前を教えてください" %>
      <%= render "form", f:f %>
    </div>
  <% end %>

<hr/>
  <%= link_to user_moku_type_index_path(@user) do %>
    <i class="fas fa-tag my-color-tag fa-4x m-3 text-center">
      <h5 class="font-weight-bold text-secondary">mokuタグ一覧へ</h5>
    </i>
  <% end %>

  <%= render 'my_shared/go_mypage' %>
</div>