<div class="container">
  <h1  class="font-weight-bold text-center mb-4">mokuタグの編集</h1>

  <%= bootstrap_form_with(model: @moku_type,
  url: {controller: :moku_type, action: :update, user_id: current_user.id, id: @moku_type},
  method: :patch,
  local: true) do |f| %>

    <div class="row">
      <div class="col-12 col-md-6 mb-4">
      <%= "mokuタグの新しい名前を教えてください" %>
      <%= render "form", f:f %>
    </div>
  <% end %>

  <div class="row ml-2 my-2">
    <%= render "my_shared/go_mypage" %>

    <span class="d-none d-md-block"><%# md以上で大きめアイコン %>
      <%= link_to user_moku_type_index_path(@user) do %>
        <i class="fas fa-tag my-color-tag fa-3x m-3 text-center">
          <h5 class="font-weight-bold text-secondary">mokuタグ一覧へ</h5>
        </i>
      <% end %>
    </span>
    <span class="d-md-none"><%# md未満で小さめボタン %>
      <button type="button" class="btn btn-light border-info btn-sm ml-1 my-mobile-btn-size">
        <%= link_to user_moku_type_index_path(@user) do %>
          <i class="fas fa-tag my-color-tag text-center">
            <small class="font-weight-bold text-secondary">mokuタグ</small>
          </i>
        <% end %>
      </button>
    </span>
  </div>
</div>