<div class="container">
  <h1><%= "#{@user.name}さんのmokuタグ"%></h1>
  <div class="row">
    <div class="col-12 col-md-6 mb-4 text-center">
      <%= bootstrap_form_with(model: @MokuYype,
                              url: {controller: :moku_type, action: :create, user_id: current_user.id},
                              method: :post,
                              local: true) do |f| %>

        <h6 class="font-weight-bold mt-2 text-left">あたらしいmokuタグをつくる</h6>
        <%= f.text_field :name, hide_label: true %>
          <% if @moku_type.errors.any? %>
            <% @moku_type.errors.full_messages.each do |message| %>
              <small class="text-danger"><%= message %></small></br>
            <% end %>
          <% end %>
        <%= f.submit "登録する", class: "btn btn-info btn-lg"%>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <table class="table table-hover">
        <thead>
          <tr class="table-info text-center">
            <th scope="col" class="align-middle">mokuタグ</th>
            <th scope="col" class="align-middle">このmokuタグの<br/>moku一覧</th>
            <th scope="col" class="align-middle">編集</th>
            <th scope="col" class="align-middle">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @moku_types.each do |moku_type| %>
            <tr class="text-center">
              <th scope="row"><%# name %>
                <%= moku_type.name %>
              </th>
              <td><%# 一覧 %>
                <%= link_to user_moku_type_path(moku_type.user_id, moku_type.id) do %>
                  <i class="fas fa-file-alt my-color-mokusIndex fa-2x" aria-hidden="true"></i>
                <% end %>
              </td>
              <td><%# 編集 %>
                <% if moku_type.name == Constants::DEFAULT_MOKU_TYPE_NAME %>
                  <span class="fas fa-ban my-color-ban" data-toggle="popover" data-content="このmokuタグは編集できません"></span>
                <% else %>
                  <%= link_to edit_user_moku_type_path(moku_type.user_id, moku_type.id) do %>
                    <i class="fas fa-edit my-color-edit fa-2x"></i>
                  <% end %>
                <% end %>
              </td>
              <td><%# 削除 %>
                <% if moku_type.name == Constants::DEFAULT_MOKU_TYPE_NAME %>
                  <span class="fas fa-ban my-color-ban" data-toggle="popover" data-content="このmokuタグは削除できません"></span>
                <% else %>
                  <%= link_to "/users/#{moku_type.user_id}/moku_type/#{moku_type.id}/check" do %>
                    <i class="fas fa-trash-alt my-color-trash fa-2x"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @moku_types, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </div>
  </div>
  <div class="row ml-2 my-2">
    <%= render 'my_shared/go_mypage' %>
  </div>
</div>

<%# banアイコンのメッセージ %>
<%= javascript_include_tag "popover.js" %>
<script></script>