<div class="container-fluid">
  <% if  @moku_type.errors.any? %>
    <div aria-live="polite" aria-atomic="true" style="position: relative;">
      <div class="toast" style="position: absolute; top: 10px; left: 20px;">
        <div class="toast-header">
        <img class="rounded mr-2" src="/assets/moku_logo3.png" width="15" height="15" alt="mokuのロゴ">
          <strong class="mr-auto">moku</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <% @moku_type.errors.full_messages.each do |message| %>
            <div class="text-danger font-weight-bold"><%= message %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <h1><%= "#{@user.name}さんのmokuタグ"%></h1>
  <div class="row">
    <div class="col-12 col-md-6 mb-4">

      <%= bootstrap_form_with(model: @MokuType,
                              url: {controller: :moku_type, action: :create, user_id: current_user.id},
                              method: :post,
                              local: true) do |f| %>

        <h4 class="font-weight-bold mt-2">あたらしいmokuタグをつくる</h4>
        <p><%= f.text_field :name, hide_label: true %></p>
        <%= f.submit "登録する", class: "btn btn-info btn-lg"%>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <table class="table table-hover">
        <thead>
          <tr class="table-info text-center">
            <th scope="col" class="align-middle">mokuタグ</th>
            <th scope="col" class="align-middle">このmokuタグの<br/>moku一覧</th>
            <th scope="col" class="align-middle">編集</th>
            <th scope="col" class="align-middle">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @moku_types.each do |moku_type| %>
            <tr class="text-center">
              <th scope="row"><%# name %>
                <%= moku_type.name %>
              </th>
              <td><%# 一覧 %>
                <%= link_to user_moku_type_path(moku_type.user_id, moku_type.id) do %>
                  <i class="fas fa-file-alt my-color-mokusIndex fa-2x" aria-hidden="true"></i>
                <% end %>
              </td>
              <td><%# 編集 %>
                <% if moku_type.name == Constants::DEFAULT_MOKU_TYPE_NAME %>
                  <span class="fas fa-ban my-color-ban" data-toggle="popover" data-content="このmokuタグは編集できません"></span>
                <% else %>
                  <%= link_to edit_user_moku_type_path(moku_type.user_id, moku_type.id) do %>
                    <i class="fas fa-edit my-color-edit fa-2x"></i>
                  <% end %>
                <% end %>
              </td>
              <td><%# 削除 %>
                <% if moku_type.name == Constants::DEFAULT_MOKU_TYPE_NAME %>
                  <span class="fas fa-ban my-color-ban" data-toggle="popover" data-content="このmokuタグは削除できません"></span>
                <% else %>
                  <%= link_to "/users/#{moku_type.user_id}/moku_type/#{moku_type.id}/check" do %>
                    <i class="fas fa-trash-alt my-color-trash fa-2x"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  

  <%= render 'my_shared/go_mypage' %>
</div>

<%# banアイコンのメッセージ %>
<%= javascript_include_tag "popover.js" %>
<script></script>