<div class="container">
  <h1>ログイン</h1>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row my-5">
      <div class="col-12 col-md-6">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-secondary font-weight-bold ml-3">
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
          <% end %>
        </div>

        <div class="col-12 ml-3">
          <%= link_to new_password_path(resource_name) do %>
            <i class="fas fa-lock"></i>
            <span class="text-secondary font-weight-bold">パスワードがわからなくなってしまったら</span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="text-center mb-5">
      <div class="actions">
        <%= f.submit "ログイン！", class: "btn btn-info btn-lg" %>
      </div>
    </div>
  <% end %>

  <div class="row ml-2 my-2">
    <%= render 'my_shared/go_top' %>
  </div>
</div>