<div class="container">
  <h1><%= "#{@user.name}さんのブックマーク一覧" %></h1>

  <ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#tab1" class="nav-link active text-info" data-toggle="tab">
          <i class="fas fa-crown my-color-work fa-2x m-3 faa-bounce animated-hover" aria-hidden="true"></i>
          <%= "#{current_user.name}さん自身の成果物"%>
        </a>
      </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link text-info" data-toggle="tab">
            <i class="fas fa-crown my-color-work fa-2x m-3 faa-bounce animated-hover" aria-hidden="true"></i>
            他のユーザーさんの成果物
          </a>
      </li>
    </ul>

    <div class="tab-content py-4">
      <div id="tab1" class="tab-pane active">
        <% @book_marks.each do |book_mark| %>
          <% work = Work.find(book_mark.work_id) %>
          <% if work.user_id == current_user.id %>
            <%= work.title %>
            <%= "成果物登録日：#{work.created_at}" %>
            <%= link_to user_work_path(@user, work) do %>
              <i class="fas fa-search my-color-search fa-2x"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div id="tab2" class="tab-pane">
        <% @book_marks.each do |book_mark| %>
          <% work = Work.find(book_mark.work_id) %>
          <% unless work.user_id == current_user.id %>
            <% if work.pickup_public == Constants::PUBLIC %>
              <% work_user = User.find_by(id: work.user_id)%>
              <%= work.title %>
              <%= "製作者：#{work_user.name}さん"%>
              <%= link_to ("/users/#{work.user_id}/works/#{work.id}/public") do %>
                <i class="fas fa-search my-color-search fa-2x"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </ul>

  <%= render 'my_shared/go_mypage' %>

</div>