<div class="container">

  <h1>MOKUタグの削除</h1>

  <div class="row mb-3">
    <div class="col-12">
      <div class="card text-white bg-info mb-3">
        <div class="card-header text-center"><h2><%= "#{@user.name}"%>さん、ご確認ください</h2></div>
        <div class="card-body">
          <p class="card-text">
            <h5>
            mokuタグは、mokuの管理に使われています。<br>
            この<%= "【#{@moku_type.name}】" %>が削除されると、<%= "【#{@moku_type.name}】" %>がつけられていたmokuには、自動的に<%= "【#{Constants::DEFAULT_MOKU_TYPE_NAME}】"%>がつきます。
            </h5>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>本当にこのMOKUタグを削除してよろしければ、削除ボタンをクリックしてください。</h3>
    <%= bootstrap_form_with(model: @moku_type,
                  url: {controller: :moku_type, action: :delete, user_id: current_user.id, moku_type_id:@moku_type.id},
                  method: :patch,
                  local: true) do |f| %>

      <%= f.submit "MOKUタグを削除する", class: "btn btn-info btn-warning btn-lg" %>
    <% end %>
  </div>

  <div class="row">
    <h3><%= "#{@moku_type.name}のMOKUタグがつけられているMOKU" %></h3>
    <% @do_mokus.each do |do_moku| %>
      <p><%= link_to("#{do_moku.format_created_at}のMOKU", "/users/#{do_moku.user_id}/mokus/#{do_moku.id}") %></p>
    <% end %>
  </div>



  <%= render 'my_shared/go_mypage' %>
</div>