<h1>MokuType#index</h1>
<h1><%= "#{@user.name}さんのMOKUタグ一覧"%></h1>
<h3>★「とりあえずMOKUる」は編集・削除できません★</h3>
<ul>
  <% @moku_types.each do |moku_type| %>
  <li>
    <%= moku_type.name %>
      <% if moku_type.name == Constants::DEFAULT_MOKU_TYPE_NAME %>
        <%= link_to("【MOKUったもの一覧】", user_moku_type_path(moku_type.user_id, moku_type.id)) %>
      <% else %>
        <%= link_to("【MOKUったもの一覧】", user_moku_type_path(moku_type.user_id, moku_type.id)) %>
        <%= link_to("【編集】", edit_user_moku_type_path(moku_type.user_id, moku_type.id))%>
        <%= link_to("【削除】", "/users/#{moku_type.user_id}/moku_type/#{moku_type.id}/check")%>
      <% end %>
    </li>
  <% end %>
</ul>
<p><%= link_to("新しいMOKUタグを追加する", new_user_moku_type_path(@user))%></p>
<p><%= link_to("マイページへ戻る", "/mypage")%></p>
