<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>moku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# IEはverによって崩れるので互換表示をさせないためのmetaタグ %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%# fontawesome5 %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%# fontawesome animation %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <meta name="description" content="色々な作業を記録しよう！mokuは作業を記録します。また、その作業で出来上がったものを成果物として登録、共有することもできます！">
  </head>

  <body>
    <header>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-sm navbar-light px-0">
                    <a class="navbar-brand" href="index.html">
                        <img src="/assets/moku_logo.jpg" width="100" height="50" class="d-inline-block align-top" alt="ロゴマーク">
                    </a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="menu" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                          <% if user_signed_in? %>
                            <li class="nav-item"><span class="nav-link" id="linkToAaacount"><%= link_to("アカウント情報", edit_user_registration_path) %></span></li>
                            <li class="nav-item"><span class="nav-link" id="linkToSetting"><%= link_to("個人設定", "/accounts/#{current_user.id}")%></span></li>
                            <li class="nav-item"><span class="nav-link" id="linkToLogout"><%= link_to("ログアウト", destroy_user_session_path, method: :delete) %></span></li>
                            <li class="nav-item"><span class="nav-link" id="linkToTaq"><%= link_to("よくある質問", faqs_path) %></span></li>
                          <% else %>
                            <li class="nav-item"><%= link_to 'ユーザー登録', new_user_registration_path %></li>
                            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path %></li>
                          <% end %>
                        </ul>
                    </div>
                </nav>
            </div>

            <% if user_signed_in? %>
              <div class="card text-white bg-info mx-3 mb-3">
                <div class="card-body" id="greet"><%= "#{greeting}、#{current_user.name}さん！" %></div>
              </div>
            <% end %>
        </header>

        <%# devise %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

      <%= yield %>
      <footer>
        <p class="copyright" ><small>&copy; Copyright 2019 moku</small></p>
      </footer>
  </body>
</html>
