<body>
  <main>
    <div class="container-fluid pb-4">
      <h1><%= "#{@user.name}さんのマイページ" %></h1>
        <div class="row">
          <div class="col-12 col-md-6 mb-4">
            <section>
              <div class="card">
                <div class="card-header text-center"><h3>何をしますか？</h3></div>
                  <div class="card-body pd-1 text-center">
                    <%= link_to "/users/#{@user.id}/mokus/new" do %>
                      <i class="fas fa-cloud my-color-moku fa-4x m-3 faa-bounce animated-hover" aria-hidden="true">
                        <h5 class="font-weight-bold text-secondary">mokuる</h5>
                      </i>
                    <% end %>

                    <%= link_to user_mokus_path(@user) do %>
                      <i class="fas fa-file-alt my-color-mokusIndex fa-4x m-3 faa-bounce animated-hover" aria-hidden="true">
                        <h5 class="font-weight-bold text-secondary">moku一覧</h5>
                      </i>
                    <% end %>

                    <%= link_to "users/#{@user.id}/book_marks" do %>
                      <i class="fas fa-bookmark my-color-bookmark fa-4x m-3 faa-bounce animated-hover" aria-hidden="true">
                        <h5 class="font-weight-bold text-secondary">Book Mark</h5>
                      </i>
                    <% end %>

                    <%= link_to user_moku_type_index_path(@user) do %>
                      <i class="fas fa-tag my-color-tag fa-4x m-3 faa-bounce animated-hover" aria-hidden="true">
                        <h5 class="font-weight-bold text-secondary">mokuタグ</h5>
                      </i>
                    <% end %>

                    <%= link_to user_works_path(@user) do %>
                      <i class="fas fa-crown my-color-work fa-4x m-3 faa-bounce animated-hover" aria-hidden="true">
                        <h5 class="font-weight-bold text-secondary">成果物</h5>
                      </i>
                    <% end %>

                    <% if @user.admin? %>
                      <hr/>
                      <i class="fas fa-unlock-alt my-color-admin fa-2x">管理者menu</i><br/>
                        <%= link_to(faqs_new_path) do %>
                          <i class="fas fa-question my-color-question fa-4x m-3 faa-bounce animated-hover">
                            <h5 class="font-weight-bold text-secondary">FAQ追加</h5>
                          </i>
                        <% end %>

                        <%= link_to(faqs_path) do %>
                          <i class="fas fa-edit my-color-faqedit fa-4x m-3 faa-bounce animated-hover">
                            <h5 class="font-weight-bold text-secondary">FAQ編集</h5>
                          </i>
                        <% end %>
                    <% end %>
                  </div>
              </div>
            </section>
          </div>

          <div class="col-12 col-md-6 pb-4">
            <section>
                <div class="card">
                  <div class="card-header text-center">
                      <h3>自己紹介</h3>
                  </div>
                    <div class="card-body">
                      <% if @user.introduce.blank? %>
                      　<h5>︎︎︎︎画面上部のメニュー「個人設定」から、自己紹介を登録しよう！</h5>
                      <% else %>
                        <%= simple_format(@user.introduce) %>
                      <% end %>
                    </div>
                </div>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 pb-4">
              <section>
                  <div class="card">
                    <div class="card-header text-center"><h3>公開設定</h3></div>
                    <div class="card-body">
                      <h5><%= "現在#{public_to_s(@user.public)}になっています。"%></h5>
                    </div>
                  </div>
              </section>
          </div>

          <div class="col-12 col-md-6 pb-4">
              <section>
                  <div class="card">
                    <div class="card-header text-center"><h3>mokuアイテム</h3></div>
                    <div class="card-body">
                      <% if @user.items.blank? %>
                        <h5>画面上部のメニュー「個人設定」から、使用する道具を登録しよう！</h5>
                      <% else %>
                        <%= simple_format(@user.items) %>
                      <% end %>
                    </div>
                  </div>
              </section>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-lg-6 pb-4">
            <section>
              <div class="card text-blue bg-info text-white">
                <h4><div class="card-header text-center"><h3>Pick UP</h3></div></h4>
                <div class="card-body">
                  <h5 class="card-title">みんなの成果物を見てみよう！</h5>
                  <ul>
                    <% @work_pickups.each do |work_pickup| %>
                      <li>
                        <% work = Work.find(work_pickup.id)%>
                        <% if work.user.public == true %>
                          <% if work.user_id == current_user.id %>
                            <span class="text-white"><%= "#{work_pickup.title}" %> <br/><span style="margin-right: 3em;"></span> by <%= "#{current_user.name}" %>さん
                              <%= link_to user_work_path(@user, work) do %>
                                <i class="fas fa-search my-color-search fa-2x"></i>
                              <% end %>
                            </span>
                          <% else %>
                          <% work_user = User.find(work.user_id) %>
                            <span class="text-white"><%= work_pickup.title %><br/><span style="margin-right: 3em;"></span> by <%= "#{work_user.name}"%>さん
                              <%= link_to "/users/#{work.user_id}/works/#{work.id}/public" do %>
                                <i class="fas fa-search my-color-search fa-2x"></i>
                              <% end%>
                            </span>
                          <% end %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </section>
          </div>

          <div class="col-12 col-lg-6 pb-4">
            <section>
              <div class="card text-white bg-info">
                <h4><div class="card-header text-center"><h3>moku Just Now<h3></div></h4>
                <div class="card-body">
                  <ul id="justNowUl"></ul>
                  <%= javascript_include_tag "application" %>
                  <script></script>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <section>
              <h1 class="text-center">カレンダー</h1>
              <%# md以上で月間カレンダー表示%>
              <div class="d-none d-md-block">
                <%= month_calendar(attribute: :created_at, events: @do_mokus) do |date, do_mokus| %>
                  <div class="font-weight-bold">
                    <%= "#{date.to_formatted_s(:only_date)} 日" %><br>
                  </div>
                  <% moku_count = [] %>
                  <% @do_moku_id = 0 %>
                  <% do_mokus.each do |do_moku| %>
                    <% moku_count << 1 %>
                    <% @do_moku_id = do_moku.id %>
                  <% end %>
                  <% if moku_count.size > 0 %>
                    <%= link_to "/users/#{current_user.id}/mokus/#{@do_moku_id}/day" do %>
                      <i class="fas fa-cloud my-color-moku faa-bounce animated-hover"></i>
                      <%= "×" %><%= "#{moku_count.size}" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <%# md未満で週間カレンダー表示%>
              <div class="d-md-none">
                <%= week_calendar(attribute: :created_at, events: @do_mokus, number_of_weeks: 1) do |date, do_mokus| %>
                  <div class="font-weight-bold">
                    <%= "#{date.to_formatted_s(:only_date)} 日" %><br>
                  </div>
                  <% moku_count = [] %>
                  <% do_mokus.each do |do_moku| %>
                    <% moku_count << 1 %>
                    <% @do_moku_id = do_moku.id %>
                  <% end %>
                  <% if moku_count.size > 0 %>
                    <%= link_to "/users/#{current_user.id}/mokus/#{@do_moku_id}/day" do %>
                      <small>
                      <i class="fas fa-cloud my-color-moku"></i>
                      <%= "×" %><%= "#{moku_count.size}" %>
                    </small>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </section>
          </div>
        </div>
  </main>
</body>