<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>moku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# IEはverによって崩れるので互換表示をさせないためのmetaタグ %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%# fontawesome5 %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%# fontawesome animation %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <meta name="description" content="色々な作業を記録しよう！mokuは作業を記録します。また、その作業で出来上がったものを成果物として登録、共有することもできます！">
  </head>

  <body>
    <header>
			<div class="container-fluid">
				<nav class="navbar navbar-expand-sm navbar-light px-0">
					<% if user_signed_in? %>
						<%= link_to "/mypage" do %>
							<span class="navbar-brand">
								<img src="/assets/moku_logo2.png" width="100" height="50" class="d-inline-block align-top" alt="ロゴマーク">
							</span>
						<% end %>
					<% else %>
						<%= link_to "/" do %>
							<span class="navbar-brand">
								<img src="/assets/moku_logo2.png" width="100" height="50" class="d-inline-block align-top" alt="ロゴマーク">
							</span>
						<% end %>
					<% end %>

						<button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div id="menu" class="collapse navbar-collapse">
								<ul class="navbar-nav">
									<% if user_signed_in? %>
										<li class="nav-item"><span class="nav-link" id="linkToSetting"><%= link_to("個人設定", "/accounts/#{current_user.id}")%></span></li>
										<li class="nav-item"><span class="nav-link" id="linkToLogout"><%= link_to("ログアウト", destroy_user_session_path, method: :delete) %></span></li>
										<li class="nav-item"><span class="nav-link" id="linkToTaq"><%= link_to("よくある質問", faqs_path) %></span></li>
									<% else %>
										<li class="nav-item"><span class="nav-link"><%= link_to 'ユーザー登録', new_user_registration_path %></span></li>
										<li class="nav-item"><span class="nav-link"><%= link_to 'ログイン', new_user_session_path %></span></li>
										<li class="nav-item"><span class="nav-link"><%= link_to("moku?", top_about_path) %></span></li>
										<li class="nav-item"><span class="nav-link" ><%= link_to("よくある質問", faqs_path) %></span></li>
									<% end %>
								</ul>
						</div>
				</nav>
			</div>

			<% if user_signed_in? %>
				<div class="card text-white bg-info mx-3 mb-3">
					<div class="card-body" id="greet">
					<% if current_user.public %>
						<span class="fas fa-unlock my-color-lock fa-2x" data-toggle="popover" data-placement="left" data-content="アカウント：公開"></span>
					<% else %>
						<span class="fas fa-lock my-color-lock fa-2x" data-toggle="popover" data-placement="left" data-content="アカウント：非公開""></span>
					<% end %>
						&ensp;<%= "#{greeting}、#{current_user.name}さん！" %>
					</div>
				</div>
			<% end %>
		</header>

		<%# devise %>
		<% if notice %>
		<h4 class="notice align-middle">
		<%# とーすと %>
			<div class="alert alert-info  alert-dismissible fade show" role="alert">
				<%= notice %>
				<button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</h4>
		<% end %>

		<% if alert %>
		<h4 class="alert align-middle">
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<%= alert %>
				<button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</h4>
		<% end %>

		<%= yield %>
		<footer>
			<p class="copyright" >
				<small>&copy; Copyright 2019 moku</small>
				<small><%= link_to("利用規約", '/terms_of_service', class: :"text-secondary")%></small>
				<small><%= link_to("プライバシーポリシー", '/privacy', class: :"text-secondary")%></small>
				<small><%= link_to("Special Thamks", "/thanks", class: :"text-secondary")%></small>
			</p>
		</footer>
  </body>
	<%# はてなアイコン %>
	<%= javascript_include_tag "popover.js" %>
	<script></script>
</html>
