<main>
  <body>
    <div class="container">
      <h1>個人設定</h1>

      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <%= bootstrap_form_with(model: @user,
      url: {controller: :accounts, action: :update, user_id: current_user.id},
      method: :patch,
      local: true) do |f| %>

        <div class="row mb-3">
          <div class="col-12 col-md-6">
              <h3>ニックネーム</h3>
              <%= f.text_field :name, hide_label: true %>
          </div>

          <div class="col-12 col-md-6">
            <h3>アカウントの<br class="d-inline d-lg-none"/>公開設定&ensp;
              <a class="btn btn-sm btn-info text-white" data-toggle="popover" data-placement="bottom" title="アカウントの公開設定" data-content="<b>【公開】</b><br>
                <ul>
                  <li>moku JUST NOWに公開されます。</li>
                  <li>成果物では個別に公開・非公開の設定ができます。</li>
                </ul>
                <b>【非公開】</b><br>
                <ul>
                  <li>moku JUST NOWには公開されません。</li>
                  <li>成果物(及びpick up)、Book Markも非公開となります。</li>
                  <li>成果物登録時に公開にしても、アカウントが非公開だと公開されません。</li>
                </ul>">?</a>
            </h3>

            <%= f.select :public, options_for_public, selected: @user.public , hide_label: true%>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <h3>mokuアイテム</h3>
              作業につかう道具や機材、材料、教材などを登録しましょう！<br>
              <%= f.text_area :items, hide_label: true, size: "20x7"  %>
          </div>

          <div class="col-12 col-md-6">
            <h3>自己紹介</h3>
              自己紹介を登録しましょう！<br class="d-inline d-lg-none"/>（１４０文字まで）<br>
              <%= f.text_area :introduce, hide_label: true, size: "20x7"  %>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <%= f.submit "登録する", class: "btn btn-info btn-lg" %>
          </div>
        </div>
      <% end %>

      <div class="row md-3">
        <div class="col-6">
          <%= render 'my_shared/go_mypage' %>
        </div>

        <div class="col-6">
          <div class="row text-right">
            <div class="col-7 text-right pr-0">
              <%= link_to edit_user_registration_path do %>
                <i class="fas fa-key fa-4x my-color-key text-center">
                  <h5 class="font-weight-bold text-secondary">アカウント<br class="d-inline d-md-none" />情報</h5>
                </i>
              <% end %>
            </div>

            <div class="col-5">
              <%= link_to "/accounts/#{current_user.id}/check" do %>
                <i class="fas fa-door-open fa-4x my-color-door text-center"><br/>
                  <h5 class="font-weight-bold text-secondary">mokuを<br class="d-inline d-sm-none" />退会</h5>
                </i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# はてなアイコン %>
    <%= javascript_include_tag "popover.js" %>
    <script></script>
  </body>
</main>